#title-block {
	width: 78%;
	background-color: rgba(15,48,87,0.7);
	margin: 0 auto;
}
#title-block h1 {
	color: #f8e05a;
	text-shadow: 0 1px 0 #bbaa22,
		0 2px 0 #b9a919,
		0 3px 0 #aa9911,
		0 4px 0 #a99919,
		0 5px 0 #aa9900,
		0 6px 1px rgba(0, 0, 0, 0.1),
		0 0 5px rgba(0, 0, 0, 0.1),
		0 1px 3px rgba(0, 0, 0, 0.3),
		0 3px 5px rgba(0, 0, 0, 0.2),
		0 5px 10px rgba(0, 0, 0, 0.25),
		0 20px 20px rgba(0, 0, 0, 0.15);
	padding-top: 0.2em;
}
.reveal .slides .content-overlay {
  background-color: rgba(0,0,0,.7);
  padding: 1em;
}
.reveal .slides .light {
	background-color: rgba(255,255,255,.7);
}
.reveal .slides .content-overlay blockquote {
	background: transparent;
}
.light h1, .light h2,
.light h3, .light h4,
.light h5, .light h6,
.light p, .light li {
	color: #333;
}
.reveal .slides .no-margin {
	margin: 0
}
.line-thru {
	text-decoration: line-through;
}
.nudge-center {
	position: relative;
}
h2.nudge-center {
	/*position: relative;*/
	top: 0.3em
}
.reveal code {
	padding: 0;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0;
	font-size: 85%;
	background-color: rgba(100,100,100,100.04);
	border-radius: 3px;
	box-sizing: border-box;
}
.reveal .light code {
	color: #DDD;
}